NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://kekikoki4_db_user:12345lelantabro@cluster0.ajcykx8.mongodb.net/
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
SUPABASE_URL=https://wgpovhhrkdooyncuciou.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndncG92aGhya2Rvb3luY3VjaW91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQyNjU5MSwiZXhwIjoyMDg4MDAyNTkxfQ.35oo1VvFm4-fySKbONrRzj0zaGdqSm-dMg_cKp7Bl9Q
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndncG92aGhya2Rvb3luY3VjaW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MjY1OTEsImV4cCI6MjA4ODAwMjU5MX0.EAz_up3hY7jxCD4iXjdzelYKrZQzGkPf0RmCXdLHjd4
SUPABASE_PUBLISHABLE_KEY=sb_publishable_qolZZNayeVfj9XHmO61SoQ_rWWw3tsP
SUPABASE_BUCKET=post-images
CLIENT_URLS=https://signal-tau-black.vercel.app